body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("resources/duckbathwallpaper.gif");
  background-size: 100% 100%;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

a:hover{
  background-color: rgba(0, 0, 0, 0.4);
}
.button{
  font-family: 'Cute Font', monospace;
  font-size: 22px;
  padding:15px 12px;
  text-decoration: none;
}
.deleteButton{
  color: red;
}
.title{
  font-family: 'Cute Font', monospace;
  font-size: 30px;
  font-weight: 200;
}
.topbar{
  display: flex;
  align-content: space-between;
  background-color: #555;
  box-shadow: inset 0px -5px 15px -3px #a0e5ff;
}

.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.pikachu{
  height: 100px;
  width: 100px;
  position: absolute;
}
.trashCan {
  height: 100px;
  position: absolute;
}